.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../src/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;


}

h1 {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 100%;
    max-width: 90%;
    
    
}




